body{
    background: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background: black;
    color: white;
    padding: 1em 0;
    position: relative;
}
header::after{
    content: '';
    clear: both;
    display: block;
}
.logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.logo span{
    font-size: 1000;
}
.site-nav{
    top: 100%;
    right: 0;
    position: absolute;
    background: black;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li{
    border-bottom: 1px solid black;
}
.site-nav a{
    color:white;
    display: block;
    padding: 2em 6em;
    text-transform: none;
}
.site-nav a:hover,
.site-nav a:focus{
    background: darkgoldenrod;
}
.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: gray;
}
.menu-toggle{
    background: black;
    padding: 1em;
    position: absolute;
    top: .5em;
    right: 1em;
}
.menu-open .hamburguer{
    transform: rotate(45deg);
}
.menu-open .hamburguer::before{
    opacity: 0;
}
.menu-open .hamburguer::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburguer,
.hamburguer::before,
.hamburguer::after{
    content: '';
    display: block;
    background: white;
    height: 3px;
    width: 1.5em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburguer::before{
    transform: translateY(-6px);
}
.hamburguer::after{
    transform: translateY(3px);
}
@media (min-width:700px){
    .menu-toggle{
        display: none;
    }
    .site-nav{
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li{
        display: inline-block;
        border: none;
    }
    .site-nav a{
        padding: 0;
        margin-left: 3em;
    }
    .site-nav--icon{
        display: none;
    }
    .site-nave a:hover,
    .site-nav a:focus{
        background: darkgoldenrod;
    }
    .site-nav-open{
        clip-path: circle(150% at top right);
    }
}